/* reset */
body{background-color: #ffffff}
/* 블럭태그들 */
body, ul, li, div, section, dl, dt, dd, p, h1, h2, h3, h4, h5, h6, header, footer{
  margin: 0; padding: 0;
  font-family: '맑은고딕';
  font-size: 16px;
  color: #666666;
  line-height: 2;
  letter-spacing: -1px;
  /* 폰트에 관련된것들 !!중요!! */
}

ul, li, dl, dt, dd, ol{
  list-style: none;
}
a{color: #666666; text-decoration: none;}
a:hover{color: #009688}
img{border: none}
/*보조색 #6a6a6a */

/* inspector_검수할때 쓰는 방법_검수용 스타일은 스타일을 아주 구체적으로 잡아주기=!important를 꼭 넣어주기!!! */
.red{border-bottom:red 1px solid!important; }


/* common */
.container{width: 1200px; margin: 0 auto;}/*가운데정렬 공통클래스*/
.clear:after{content: ""; display: block; /*width가 100%로 딱 떨어짐*/ clear: both; }
.rel{position: relative;}
.abs{position: absolute;}
.fix{position:fixed;}

.fl{float: left;}
.fr{float: right;}

.disB{display: block;}
.disN{display: none;}
.disIB{display: inline-block;}


/*레이아웃*/
header#hd{ padding: 15px 0}
/* 프로프로프로프로프로프로프로프로프로!!!!!! */
#hd , #hd img{display:block;}
#gnb > li > a{font-weight: bold; font-size: 18px; line-height: 46px; margin-left: 2em; }
/* 패딩/마진 left--> 패딩 : 나 기준 글자사이 공백도 hover잡혀 마진은 글자만 hover잡혀 */
#gnb .d2{background-color: black; top:calc(100% + 15px); left: 15px; padding: 10px 15px; width: 100px;}
#gnb .d2 a{font-size: 0.9em; line-height: 1.5; color: white;}

#gnb li:nth-child(1) d2{left: 30px;}
#gnb li:nth-child(4) d2{width: 70px;}




section#main{}

footer#fd{}
